body{
    margin-left:0px ;
    margin-right:0px;
}
header{
    border-width:5px;
    border-color:black;
    border-style:hidden hidden solid hidden;
   background-color:red;
   padding-top:30px;
}
.mainTitle{
    text-align :center;
    color: white;
    font-size:4em;
}
section h3{
    border: 3px solid black;
    color:ivory;
    background-color:red;
    padding-left:30px;
}
 ul{
    list-style-type:square;
    padding-left: 100px;
}
ol{
    padding-left:0;
    clear:both;
    overflow: hidden;
}
ol li{
    float:left;
    margin-left:45px;
}
section{
    margin-left:8px;
    margin-right:8px;
}
.profile{
    margin:10px;
    margin-top:20px;
    display: inline-block;
    float:left;
    width:30%;
    
}
.physical{
    width: 30%;
    float:left;
    display:inline-block;

}
.family{
    width: 30%;
    display:inline-block;
}
}
.occupation{
    margin-top:10px;
    width: 100%;
    position: static;
    display: block;
    clear:both;
}
